.nav-item-padding{
    padding: 0 2em 0 2em;
}
.logo{
    letter-spacing: .5em;
    font-size: 2em;
}
.page-list{
    list-style:none;
    text-align:right;
    font-size: 1em;

}
.nav-item a{
    color:#FFF !important;
}
.list-line{
    list-style:none;
    font-size: 1em;
}
.list-style{
    padding: 0 !important;
}
.list{
    opacity:.5;
}
.navbar-fix{
    overflow: hidden;
    background-color: rgb(51, 51, 51, 0.5);

    position: fixed;
    justify-content:space-between;
    display:flex;
    bottom: 0;
    width: 100%;
}
.navbar-fix a {

    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
.bg{
    background: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color:#FFF;
    height: 100vh;
}
.sec-title{
    padding-top: 150px;
    text-align: center;
}
.title-style{
    font-weight: bolder;
}
.title-style-w{
    font-weight: bolder;
    color: #FFF;
}
.icon-padding{
    padding-bottom: 100px;
}
/****/
.explain{
    text-align: center;
}
.explain-icon{
    padding: 2em 0 2em 0;
}
/****/
.bg-color{
    background-color: #011f41;
    padding-bottom: 150px; 
}

.map-padding{
    padding: 100px 0 100px 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}