.nav-item-padding{
    padding: 0 2em 0 2em;
}
.logo{
    letter-spacing: .5em;
    font-size: 2em;
    padding-right: 1.5em; 
}


.lead{
    padding-bottom: 4em;
    text-align: right;
}
.display-4{
    text-align: right;
}

.list-line{
    list-style:none;
    font-size: 1em;
}
.list-style{
    padding: 0 !important;
}
.list{
    opacity:0.5;
}
.navbar-fix{
    overflow: hidden;
    background-color: rgb(51, 51, 51, 0.5);

    position: fixed;
    justify-content:space-between;
    display:flex;
    bottom: 0;
    width: 100%;
}
.navbar-fix a {

    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
.bg{
    background: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color:#FFF;
    height: 100vh;
}
.sec-title{
    padding-top: 150px;
    text-align: center;
}
.title-style{
    font-weight: bolder;
}
.title-style-w{
    font-weight: bolder;
    color: #FFF;
}
.icon-padding{
    padding-bottom: 100px;
}
/****/
.explain{
    text-align: center;
}
.explain-icon{
    padding: 2em 0 2em 0;
}
/****/
.bg-color{
    background-color: #011f41;
}

.team-padding{
    padding-bottom: 150px;     
}

.map-title{
    padding-top: 130px;
    padding-bottom: 20px;
    text-align: left; 
}

.map-padding{
    padding: 0 0 100px 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.map-bg{
    background-color:#FFF;
    padding: 5px;
}
.white{
    color: #FFF;
}

.input-style{
    background-color: rgba(0,0,0,0);
    border-color: #FFF !important;
    border-style: solid;
    border-width:2px;
    border-radius:3px;
    color: #FFF;
    font-size:14px;
    line-height: 16px;
    text-transform:none;
    padding:15px 20px 15px 20px;
    margin: 0 0 20px 0;
    width: 100%;
}

.btn-submit{
    font-size:12px;
    font-style: normal;
    letter-spacing:2.5px;
    text-transform: uppercase;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
}

::placeholder {
    color: #FFF;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #FFF;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: #FFF;
  }
  
  /* footer */
@media screen and (min-width: 769px) {
     .footer{
         padding:50px 100px;
        }
}
@media screen and (min-width: 600px) {
    .footer{
        padding:50px 70px;
        display: table;
    }
}
.footer{
    padding:50px 40px;
    display: table;
    background-color:#FFF; 
    width: 100%;
}


  .footer-menu a{
      font-size: .6em;
      letter-spacing:.2em;
      transition:color 300ms;
      text-transform :uppercase;
      text-decoration:none;
      font-weight: bolder;
  }
  .footer-menu li {
    margin-top:20px;
    line-height: 1;
}
.footer-menu{
    list-style: none;
    color: #FFF !important;
    margin: 0;
    padding: 0 !important;;
}

.footer .info ul{
    float: right;
    margin:0 -6px 7px 0;
    padding:75px 0 0 0;
    text-align:right;
}
.footer .info li a{
    color: #343a40;
    display: block;
    height: 30px;
    overflow: hidden;
    position: relative;
    text-indent:0.5em;
    transition: color 300ms;
}
.copyright{
    float: right;
    clear: right;
    color: #343a40;
    font-size: .65em;
    letter-spacing: .3px;
    margin: 63px 0 0;
    text-align: right;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  